<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>ログイン画面</title>
</head>
<body>
    <header>
        <h2 id="title">就職活動報告書 管理システム</h2>
        <h2 id="sub_title">-ログイン</h2>
    </header>
    <h1>ログイン</h1>
    <form action="" method="post">
        <label>メールアドレス　　　　</label><br>
        <input type="mail" name="mail"><br>
        <label>パスワード　　　　　　</label><br>
        <input type="password" name="pass">
        <h4></h4>
    <footer> </footer>
</body>
</html> 